/*
Login/Register component
*/

#page > main#monoView{
  @extend .whiteBox;
  @extend .paddedBlock;
}
#page > main#monoView > h1 {
  @extend .centeredBlock;
  @extend .paddedBlock;
  @extend .centeredInside;
}
#page > main#monoView > form {
  @extend .centeredBlock;
}
#page > main#monoView > form > input {
  @extend .inputStandard;
  @extend .centeredBlock;
}


/*
profile page
*/

#page > main#credView {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "contrib infos"
  " contrib password"
  "contrib .. "
}
#page > main#credView > #infos{
  grid-area:infos;
}
#page > main#credView > #password{
  grid-area:password;
  text-align: center;
}
#page > main#credView > #contrib{
  grid-area:contrib;
  text-align: center;
  margin-right: 30px;
}
#page > main#credView > section{
  @extend .whiteBox;
  @extend .paddedBlock;
}
#page > main#credView > section > h1 {
    @extend .centeredBlock;
    @extend .paddedBlock;
    @extend .centeredInside;
}
#page > main#credView > section > h2 {
  margin-top:30px;
}
#page > main#credView > section > a {
  @extend .centeredBlock;
  margin-top:5px;
}
#page > main#credView > section > form {
  @extend .centeredBlock;
}
#page > main#credView > section > form > input {
  @extend .inputStandard;
  @extend .centeredBlock;
}
