/*
Entities component
*/
#page > main#soloblockView > main {
  @extend .whiteBox;
  display:grid;
  grid-gap: 0;
  grid-template-columns:100%;
  grid-template-areas:
  "header"
  "apiLink"
  "t1ApiLink"
  "t1"
  "t2ApiLink"
  "t2"
  "edit"
}
@media ONLY screen AND (min-width:$resize-mobile){
  #page > main#soloblockView > main {
    grid-gap: $column-gap;
    grid-template-columns:100%;
    grid-template-areas:
    "header"
    "apiLink"
    "t1ApiLink"
    "t1"
    "t2ApiLink"
    "t2"
    "edit"
  }
}
@media ONLY screen AND (min-width:$resize-desktop){
  #page > main#soloblockView > main {
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "header header"
    "apiLink apiLink"
    "t1ApiLink t2ApiLink"
    "t1 t2"
    "edit edit"
  }
}

#page > main#soloblockView > main > h1 {
  grid-area:header;
  text-align: center;
}
#page > main#soloblockView > main > h6 {
  @extend .centeredBlock;
  @extend .paddedBlock;
  @extend .centeredInside;
}
#page > main#soloblockView > main > h6:first-of-type {
  grid-area:apiLink;
  text-align: center;
}
#page > main#soloblockView > main > h6:nth-of-type(2) {
  grid-area:t1ApiLink
}
#page > main#soloblockView > main > h6:nth-of-type(3) {
  grid-area:t2ApiLink
}
#page > main#soloblockView > main > div.text:nth-of-type(1) {
  grid-area:t1;
}
#page > main#soloblockView > main > div.text:nth-of-type(2) {
  grid-area:t2;
}
#page > main#soloblockView > main > button{
  grid-area:edit;
}
#page > main#soloblockView > main > div.text{
  margin-bottom:1em;
}
#page > main#soloblockView > main > div.text > p > span > span {
  display:inline-block;
  padding:0.125em 0.25em;
  cursor:pointer;
}
#page > main#soloblockView > main > div.text > p > span > span.highlighted {
  background-color:#F4FA58;
}
#page > main#soloblockView > main > div.text > p > span > span.select {
  background-color:#82FA58;
}
