/*
Authors component
*/
#page > main#authorsView{
  @extend .mainInside;
}
#page > main#authorsView > aside {
  grid-area: aside;
}
#page > main#authorsView > aside > section {
  @extend .whiteBox;
  margin-bottom: 15px;
}
#page > main#authorsView > main {
  @extend .whiteBox;
  grid-area: content;
}
#page > main#authorsView > main > a,#page > main#authorsView > aside > section > a {
  @extend .linklist;
}
#page > main#authorsView > main > a.addto,#page > main#authorsView > aside > section > a.addto {
  @extend .linklist;
  @extend .addTo;
}
#page > main#authorsView > main > h1 {
  @extend .centeredBlock;
  @extend .paddedBlock;
  @extend .centeredInside;
}
#page > main#authorsView > main > h6 {
  @extend .centeredBlock;
  @extend .paddedBlock;
  @extend .centeredInside;
}
#page > main#authorsView > main > form {
  @extend .centeredBlock;
}
#page > main#authorsView > main > form > input,#page > main#authorsView > main > form > select,#page > main#authorsView > main > form > textarea {
  @extend .inputStandard;
  @extend .centeredBlock;
}
#page > main#authorsView > main > form > div.inputContainerLanguage{
  @extend .inputContainer;
}
#page > main#authorsView > main > form > div.inputContainerLanguage > label:not(.smallLabel){
  @extend .labelInput;
}
#page > main#authorsView > main > form > div.inputContainerLanguage > input:not(.double),#page > main#authorsView > main > form > div.inputContainerLanguage > select{
  @extend .textboxInput;
}
#page > main#authorsView > main > form > div.inputContainerLanguage > p{
  @extend .textboxInput;
  @extend .clickable;
}
#page > main#authorsView > main > form > div.inputContainerLanguage > input.double{
  @extend .smallTextboxInput;
}
#page main#authorsView > main > form > div.inputContainerLanguage > a {
   @extend .noLabelInput;
   @extend .textboxInput;
 }
#page > main#authorsView > main > form > p.legend,#page > main#authorsView > main > form > input,#page > main#authorsView > main > form > select {
  @extend .paddedBlock;
  @extend .centeredInside;
}
#page main#authorsView > main > form > div.inputContainerLanguage > div.collection > a.addToCollectionSide {
  @extend .textboxInput;
  @extend .secondNoLabelInput;
}
#page main#authorsView > main > form > div.inputContainerLanguage > div.collection > a.collectionItem{
  @extend .clickable;
  @extend .paddedBlock;
  flex:1 1 33%;
}
#page main#authorsView > main > form > div.inputContainerLanguage > div.collection > a.collectionItem > img{
  max-height: 64px;
  max-width: 64px;
}
